body {
    background-color: #3c848d;
}

#main {
    height: 100%;
    width: 100%;
    position: relative;
}

.shadow {
    box-shadow: 5px 5px 3px #296d75;
}

#top {
    background-color: #b6efe7;
    position: relative;
    z-index: -2;
}

#top-shape {
    border-right: 30vw solid #a2e6a9;
    border-bottom: 40vw solid transparent;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -2;
}

#bottom-shape {
    border-right: 30vw solid #defffb;
    border-top: 40vw solid transparent;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -2;
}

#featured {
    position: relative;
}
#featured-img {
    width: 50%;
    padding: 5vw;
    margin-top: 5vw;
}

#name {
    font-size: 10vw;
    font-family: Charmonman, Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: 6vw;
    right: 9.5vw;
    z-index: -1;
}

#tag-line {
    color: white;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 15vw;
    right: 9.5vw;
}
#icons-box {
    position: absolute;
    top: 29vw;
    right: 12vw;
}
.top-icon {
    height: 4vw;
    padding: 1.5vw;
}

.top-icon:hover {
    opacity: .5;
    transition-duration: 0.4s;
}

#content {
    margin: 3vw;
}

#about {
    position: relative;
    margin-top: 4vw;
    padding-right: 11vw;
}

#about-title-one {
    margin: 1.5vw;
    margin-right: 0;
    font-size: 3rem;
    color: white;
    font-family: Charmonman, Arial, Helvetica, sans-serif;
    padding-left: 10vw;
    display: inline;
}

#about-title-two {
    margin: 1.5vw;
    margin-left: 0;
    font-size: 3rem;
    color: white;
    font-family: Charmonman, Arial, Helvetica, sans-serif;
    padding-left: 1vw;
    display: inline;
}

#portrait-div {
    position: absolute;
    right: 1vw;
    top: 2vw;
}

#portrait {
    border-radius: 50%;
    border-style: solid;
    border-width: 7px;
    border-color: white;
    width: 18vw;
}

#about-me {
    position: relative;
    color: #262629;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b6efe7;
    padding: 3vw;
    line-height: 1.5;
    font-size: 1.2rem;
    width: 75%;
    margin: auto;
    border-radius: 10px;
}

#works {
    margin: 4vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.section-title {
    margin: 1.5vw;
    font-size: 3rem;
    color: white;
    font-family: Charmonman, Arial, Helvetica, sans-serif;
    text-align: center;
}

.project {
    margin: auto;
    width: 20rem;
    padding: .5vw;
    background-color: #b6efe7;
    margin: 1vw;
    border-radius: 10px;
    position: relative;
}
.project-frame {
    text-align: center;
}

.project-img {
    width: 19.5rem;
    border-radius: 10px;
    border-style: solid;
    border-color: #3c848d;
    border-width: 3px;
}

.project-title {
    color: #262629;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: .5vw;
}

.project-buttons {
    position: absolute;
    bottom: .5vw;
    right: .5vw;
}

.project-github {
    background-color: #a95076;
    display: inline-block;
    padding : .5vw 1vw;
    border-radius: 10px;
    border-style: solid;
    border-color: #8b3e5f;
    border-width: 2px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: .5vw;
}

.project-demo {
    background-color: #74b97b;
    display: inline-block;
    padding : .5vw 1vw;
    border-radius: 10px;
    border-style: solid;
    border-color: #57985e;
    border-width: 2px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.project-github:hover {
    background-color: #8b3e5f;
    transition-duration: 0.4s;
}

.project-demo:hover {
    background-color: #57985e;
    transition-duration: 0.4s;
}

.project-summary {
    color: #262629;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: .5vw 1vw 3.5vw 1vw;
    font-size: 1.2rem;
}

/* #contact {
    width: 25%;
} */

.bottom-icon {
    height: 4vw;
    display: inline-block;
}

.bottom-icon-frame {
    display: flex;
    margin: 1vw auto;
    width: 40vw;
}

#contact-items {
    margin: auto;
}

.contact-content {
    color: white;
    display: inline-block;
    padding: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    #name {
        position: absolute;
        top: 10vw;
        right: 10vw;
        font-size: 11.5vw;
        font-weight: bold;
    }

    #featured {
        margin: auto;
        width: 75%;
    }

    #featured-img {
        width: 100%;
        margin: auto;
        padding: 14vw 0 16vw 0;
    }

    #tag-line {
        right: 12vw;
        top: 62vw;
        font-size: 5vw;
        color: #3c848d;
    }

    #icons-box {
        top: 67vw;
        right: 28vw;
    }

    .top-icon {
        height: 7vw;
    }

    #about {
        margin-top: 40vw;
        padding-right: 0;
    }

    #about-title {
        padding-left: 15vw;
    }

    #about-me {
        width: 90%;
    }

    #about-title-one {
        position: absolute;
        font-size: 6.5vw;
        color: white;
        font-family: Charmonman, Arial, Helvetica, sans-serif;
        top: -7.5vw;
        left: 3.5vw;
        /* padding-left: 15.5vw; */
        display: inline;
    }
    
    #about-title-two {
        position: absolute;
        font-size: 6.5vw;
        color: white;
        font-family: Charmonman, Arial, Helvetica, sans-serif;
        top: -7.5vw;
        left: 58.5vw;
        /* padding-left: 27vw; */
        display: inline;
    }    

    #portrait-div {
        position: absolute;
        right: 28vw;
        top: -37vw;
    }
    
    #portrait {
        border-radius: 50%;
        border-style: solid;
        border-width: 1vw;
        border-color: white;
        width: 36vw;
    }

    .section-title {
        padding-bottom: 1vw;
        margin: 3vw;
    }

    .project {
        margin: 2vw auto;
        width: 22rem;
        padding: 2vw 1vw;
        background-color: #b6efe7;
        border-radius: 10px;
        position: relative;
    }
    
    .project-img {
        width: 19.5rem;
        padding: .5vw 1vw;
    }

    .project-github {
        background-color: #a95076;
        display: inline-block;
        padding : 1vw 2vw;
        border-radius: 10px;
        border-style: solid;
        border-color: #8b3e5f;
        border-width: 2px;
        font-weight: bold;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 1vw 1vw 2vw 1vw;
    }
    
    .project-demo {
        background-color: #74b97b;
        display: inline-block;
        padding : 1vw 2vw;
        border-radius: 10px;
        border-style: solid;
        border-color: #57985e;
        border-width: 2px;
        font-weight: bold;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 1vw 2vw 2vw 1vw;
    }

    .project-summary {
        padding: 1vw 2vw 7.5vw 2vw;
    }

    .bottom-icon-frame {
        width: 100%;
        justify-content: center;
    }

    .contact-content {
        font-size: 1.2rem;
    }
    .bottom-icon {
        height: 7vw;
        margin-right: 1vw;
    }
  }